@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';

/**
 * 모듈
 * 배너(고정/캐러셀/스크롤)
**/


[data-mui="b_Nn/s7-a"] {
    position: relative;
    border-bottom: 1px solid #eee;

    ul {
        padding: 8px 0 19px;
        font-size: 0;

        li {
            display: inline-block;
            width: 25%;

            a {
                display: block;
                padding-top: 15px;
                @include mixin.font(#3d3d3d '13px/17px' center);

                b {
                    display: block;
                    @include mixin.text-ellipsis(2);
                    padding: 5px 16px 0;
                    height: 40px;
                }
            }

            .image_category {
                position: relative;
                width: 67px;
                height: 67px;
                border-radius: 100%;
                background-color: #f5f5f5;
            }

            &:nth-child(n+8) {
                display: none;
            }
        }
    }

    .mm_switch {
        position: absolute;
        right: 0;
        bottom: 28px;
        padding: 13px 0;
        width: 25%;
        background-color: #fff;

        &::after {
            display: block;
            padding-top: 5px;
            @include mixin.font(#3d3d3d '13px');
            content: attr(title);
        }

        .mco_category-thin {
            width: 67px;
            height: 67px;
            border-radius: 100%;
            background-color: #f5f5f5;
            @include mixin.font(#999 '24px/72px');
        }
    }

    &.__switch-on {
        ul {
            li:nth-child(n+8) {
                display: inline-block;
            }
        }

        .mco_category-thin {
            @include mixin.transform(scale(-1));
        }
    }
}