@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';

/**
 * 컴포넌트
 * 섹션, 영역, 스크롤러, 라인, 싱커, 플렉스 등 기본 공통영역
**/


//< 숨김(vue에서 속성으로 제어)
[data-hidden] {
	visibility: hidden;
}

[data-none] {
	display: none;
}
//> 숨김(vue에서 속성으로 제어)

//< 섹션
.mm_section {
	> h6.mm_strapline {
		margin-top: 25px;
	}
}
//> 섹션

//< 이너
.mm_inner {
	position: relative;
	margin: 0 auto;
	width: 1360px;
	@include mixin.clearfix();
}
//> 이너

//< 기본형
// 블럭
.mm_block {
	display: block;
}

// 인라인블럭
.mm_inline {
	display: inline-block;
}

// 왼쪽정렬
.mm_lside {
	float: left;
	@include mixin.clearfix();
}

// 오른쪽정렬
.mm_rside {
	float: right;
	@include mixin.clearfix();
}

// 영역채움
.mm_full {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
}

// 가변
.mm_fluid {
	@include mixin.fluid-media(100%);// 56.25% 16:9
}
//> 기본형

//< 스크롤러
.mm_scroller {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;

	&[class*="_x_"] {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		height: auto;
	}

	&[class*="_xy_"] {
		overflow: auto;
	}
}
//> 스크롤러

//< 싱커(연결자)
[class^="mm_syncer"],
[class*=" mm_syncer"] {
	display: none;

	&[class$="-use"],
	&[class*="-use "] {
		display: block;

		@include mixin.context-unify(table) {
			display: table;
		}

		@include mixin.context-unify(tbody) {
			display: table-row-group;
		}

		@include mixin.context-unify(tr) {
			display: table-row;
		}

		@include mixin.context-unify(td) {
			display: table-cell;
		}

		@include mixin.context-unify(button) {
			display: inline-block;
		}
	}
}
//> 싱커(연결자)

//< 디싱커(연결자/반대속성)
[class^="mm_desyncer"],
[class*=" mm_desyncer"] {
	&[class$="-use"],
	&[class*="-use "] {
		display: none;
	}
}
//> 디싱커(연결자/반대속성)

//< 플렉스 (독립사용)
.mm_flex {
	@include mixin.flex-container();

	// 플렉스 column
	&[class*="_column_"] {
		@include mixin.flex-container(column);
		min-height: 100%;
	}

	// 플렉스 자식요소 사이즈 비율
	&[class*="_equal_"] {
		> * {
			@include mixin.prefix(flex, 1, webkit ms);
			width: auto;
			height: 100%;

			> a,
			> button {
				display: block;
				width: 100%;
				text-align: center;

				&:not(.mm_btn) {
					height: 100%;
				}
			}
		}
	}

	// 플렉스 자식요소 사이즈 자동
	&[class*="_auto_"] {
		> * {
			@include mixin.prefix(flex, auto, webkit ms);
			width: auto;
			height: 100%;

			> a,
			> button {
				display: block;
				text-align: center;

				&:not(.mm_btn) {
					height: 100%;
				}
			}
		}
	}
}

// 플렉스 자식요소
.mm_flex- {
	// 사이즈 비율
	&equal {
		@include mixin.prefix(flex, 1, webkit ms);
	}

	// 사이즈 자동
	&auto {
		@include mixin.prefix(flex, auto, webkit ms);
	}
}
//> 플렉스 (독립사용)

//< 라인
.mm_line {
	border-top: 1px solid #eee;
	border-bottom: 5px solid #f5f5f5;

	@include mixin.context-unify(hr) {
		height: 0;
		@include mixin.font('0/1');
	}
}
//> 라인