@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';

/**
 * 컴포넌트
 * 폼, 셀렉트, 체크박스, 라디오, 텍스트, 플레이스홀더 등 form의 기본 단위
**/


//< 개발 히든영역
.mm_form-hidden {
	overflow: hidden;
	position: absolute;
	z-index: -1;
	padding: 0;
	width: 0;
	height: 0;
	@include mixin.opacity(0, none);
}
//> 개발 히든영역

// autofill 확인
@-webkit-keyframes autofill-on {}
@keyframes autofill-on {}
@-webkit-keyframes autofill-cancel {}
@keyframes autofill-cancel {}

// 텍스트 input/textarea extend 상속
%formText {
	position: relative;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링이 제대로 되지 않을 때 적용
	@include mixin.transform(translate3d(0, 0, 0));

	label {
		display: block;
		position: relative;
		padding-top: 13px;
		height: var.$form_text_height_base;
		@include mixin.font(var.$form_color_base '#{var.$form_fontSize_base}' left);

		.textfield {
			position: relative;
			z-index: 1;
			padding: 0 14px;
			width: 100%;
			border: 0;
			background-color: transparent;
			line-height: 1;
			cursor: text;

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {// webkit 브라우저 자동완성
				-webkit-text-fill-color: inherit !important;
				@include mixin.transition(background-color 99999s 0s);
			}

			// autofill 이벤트 감지용
			&:-webkit-autofill {
				-webkit-animation: autofill-on;
				animation: autofill-on;
			}
			&:not(:-webkit-autofill) {
				-webkit-animation: autofill-cancel;
				animation: autofill-cancel;
			}

			&[type="password"] {
				font-family: var.$fontFamily_password;
				letter-spacing: 2px;
			}

			&[readonly] {
				+ .bg_text {
					background-color: #eee;
				}

				~ .text_placeholder {
					color: var.$color_text_base;
				}
			}

			&:disabled {
				color: #999;

				+ .bg_text {
					background-color: #d5d5d5;
				}
			}

			&:focus:not([readonly]) {
				+ .bg_text {
					border-color: #0d38da;
				}
			}
		}

		.bg_text {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid var.$form_borderColor_base;
			border-radius: var.$form_borderRadius_base;
			background-color: #fff;
		}

		.text_placeholder {
			display: block;
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 0 14px;
			@include mixin.font(#999 '/#{var.$form_text_height_base}', nowrap);
			cursor: text;
		}
	}

	.btn_text-clear {
		display: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 0;
		width: var.$form_clear_base;
		height: var.$form_text_height_base;
		@include mixin.font(#b8b8b9 '16px/#{var.$form_text_height_base}' center);
		@include mixin.transform(translateY(-50%));

		~ label {
			.textfield:not(:disabled):not([readonly]) {
				padding-right: (var.$form_clear_base - 4);
			}
		}

		.__ie11 & { line-height: #{var.$form_text_height_base + 4}; }
	}

	.btn_text-pw {
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 0;
		width: (var.$form_text_height_base + 2px);
		height: var.$form_text_height_base;
		@include mixin.font(#6a6a6a '18px/#{var.$form_text_height_base}' center);
		@include mixin.transform(translateY(-50%));

		+ .btn_text-clear {
			right: 43px;
			width: 30px;

			+ label {
				.textfield {
					padding-right: (var.$form_text_height_base + 2px) + 30px !important;
				}
			}
		}
	}

	&.__text-on {
		.btn_text-clear {
			display: block;
		}

		.text_placeholder {
			display: none;
		}
	}

	// 요소가 readonly, disabled 일 때
	&.__text-off {
		.text_placeholder {
			display: none;
		}
	}

	+ .mm_text-label {
		margin-top: 23px;
	}

	// 데이트픽커 아이콘
	&[class*="_calendar_"] {
		.mco_datepicker-calendar {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 14px;
			@include mixin.font(#7b7b7b '15px/#{var.$form_text_height_base}');
			cursor: pointer;
		}

		.textfield {
			padding-left: 37px;
		}

		.text_placeholder {
			padding-left: 37px;
		}
	}
}

//< 텍스트 input
.mm_form-text {
	@extend %formText;

	label {
		.textfield {
			&:not(input) {
				display: block;
			}

			// 읽기전용
			&.text_readonly {
				@include mixin.text-ellipsis(1);
				position: absolute;
				top: 0;
				@include mixin.font('/#{var.$form_text_height_base}', nowrap);

				+ .bg_text {
					background-color: #eee;
				}
			}

			// 비활성
			&.text_disabled {
				@include mixin.text-ellipsis(1);
				position: absolute;
				top: 0;
				@include mixin.font(#999 '/#{var.$form_text_height_base}', nowrap);

				+ .bg_text {
					background-color: #d5d5d5;
				}
			}
		}
	}

	&[class*="_short_"] {
		max-width: 300px;
	}

	// + .mm_form-text,
	// + .mm_form-textarea,
	// + .mm_form-select {
	// 	margin-top: 7px;

	// 	.text_label {
	// 		margin-top: 26px;
	// 	}
	// }

	+ .mm_form-check,
	+ .mm_form-radio {
		margin-top: 16px;
	}

	// 경고메시지
	&.__text-alert {
		.bg_text {
			border-color: var.$color_negative_base;
		}
	}

	// 넓이 short
	// &[class*="_short_"] {
	// 	max-width: 122px;
	// }

	// 사이즈 lg
	// &[class*="_lg_"] {
	// 	.btn_text-clear {
	// 		height: var.$form_text_height_lg;
	// 		line-height: var.$form_text_height_lg;
	// 	}

	// 	.btn_text-pw {
	// 		width: var.$form_text_height_lg;
	// 		height: var.$form_text_height_lg;
	// 		line-height: var.$form_text_height_lg;

	// 		+ .btn_text-clear {
	// 			right: 43px;
	// 			width: 30px;

	// 			+ label {
	// 				.textfield {
	// 					padding-right: (var.$form_text_height_lg + 2px) + 30px !important;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	label {
	// 		padding-top: 13px;
	// 		height: var.$form_text_height_lg;
	// 		font-size: var.$form_fontSize_lg;

	// 		.textfield {
	// 			&.text_date {
	// 				line-height: (var.$form_text_height_lg - 2px);
	// 			}
	// 		}

	// 		.text_placeholder {
	// 			line-height: (var.$form_text_height_lg - 2px);
	// 		}
	// 	}
	// }

	// + .mm_note {
	// 	p {
	// 		margin: 4px 0 0 1px;
	// 	}
	// }

	// + .mm_btngroup {
	// 	margin-top: 12px;
	// }

	// + .mm_btn {
	// 	margin-top: 9px;
	// }

	// 텍스트 자동완성
	&-autocomplete {
		visibility: hidden;
		position: absolute;
		z-index: -1;
		left: 0;
		margin-top: -1px;
		min-width: 100%;
		border: 1px solid #d5d5d5;
		background-color: #fff;
		@include mixin.opacity(0);

		&.__auto-on {
			visibility: inherit;
			z-index: const.$zIndex_floating + 1;
			@include mixin.opacity(1);
		}

		.mm_scroller {
			max-height: 95px;

			ul {
				padding: 3px 0;
			}
		}

		button {
			position: relative;
			padding: 0 14px;
			width: 100%;
			@include mixin.font('12px/20px' left);

			&:focus,
			&.__over {
				b::after {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					border-bottom: 1px solid #101010;
					content: '';
				}
			}
		}
	}
}
//> 텍스트 input

//< 텍스트 textarea
.mm_form-textarea {
	@extend %formText;

	.btn_text-clear {
		right: 16px;
	}

	label {
		padding: 0;
		height: auto;

		.textfield {
			padding: 11px 13px 10px;
			height: (var.$form_textarea_lineheight * 5 + 10px * 2);// (line-height * 줄 수) + (padding-top + padding-bottom);
			line-height: var.$form_textarea_lineheight;

			&:not(textarea) {
				display: block;
				height: auto;
				min-height: 115px;
			}

			// 읽기전용
			&.text_readonly {
				+ .bg_text {
					background-color: #eee;
				}
			}

			// 비활성
			&.text_disabled {
				color: #999;

				+ .bg_text {
					background-color: #d5d5d5;
				}
			}
		}

		.text_placeholder {
			padding: 11px 40px 10px 13px;
			@include mixin.font('/#{var.$form_textarea_lineheight}', normal);
		}
	}

	+ .mm_form-check,
	+ .mm_check-list {
		margin-top: 10px;
	}

	+ .mm_note {
		margin-top: 9px;
	}

	// + .mm_form-text,
	// + .mm_form-select,
	// + .mm_form-textarea {
	// 	margin-top: 7px;

	// 	.text_label {
	// 		margin-top: 26px;
	// 	}
	// }

	.__ie11 & label .bg_text { top: -1px; right:-1px; bottom: -1px; }
}
//> 텍스트 textarea

//< 셀렉트
.mm_form-select {
	position: relative;
	width: 100%;
	line-height: 1;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링이 제대로 되지 않을 때 적용
	@include mixin.transform(translate3d(0, 0, 0));

	label {
		display: block;
		overflow: hidden;
		position: relative;
		height: var.$form_select_height_base;
		border: 1px solid var.$form_borderColor_base;
		border-radius: var.$form_borderRadius_base;
		background-color: #fff;
		font-size: 0;

		select {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			padding: 0 34px 0 12px;
			width: 100%;
			height: 100%;
			border: 0;
			background-color: transparent;
			@include mixin.font(var.$form_color_base '#{var.$form_select_fontSize_base}/#{(var.$form_select_height_base - 2px)}');
			@include mixin.opacity(0);
			@include mixin.prefix(appearance, none, webkit moz);

			&::-ms-expand {
				display: none;
			}

			&:focus,
			&:active {
				padding-right: 0;
			}

			// 비활성
			&:disabled {
				+ .text_selected {
					background-color: #d5d5d5;
					color: #999;
				}
			}
		}

		.text_selected {
			@include mixin.text-ellipsis(1);
			position: relative;
			padding: 0 34px 0 12px;
			width: 100%;
			height: 100%;
			@include mixin.font('#{var.$form_select_fontSize_base}/#{var.$form_select_height_base - 2}' left);
		}

		// 읽기전용, 비활성
		.text_readonly,
		.text_disabled {
			display: block;
			@include mixin.text-ellipsis(1);
			padding: 0 34px 0 14px;
			height: 100%;
			background-color: #eee;
			@include mixin.font('14px/44px');
		}

		// 비활성
		.text_disabled {
			background-color: #d5d5d5;
			color: #999;
		}

		[class*="mco_form-select"] {
			position: absolute;
			z-index: 2;
			top: 14px;
			right: 13px;
			@include mixin.font(#7b7b7b '17px');
			pointer-events: none;
		}
	}

	&[class*="_short_"] {
		max-width: 300px;
	}

	+ .mm_text-label {
		margin-top: 23px;
	}

	+ .mm_form-select {
		margin-top: 6px;
	}

	// + .mm_form-text,
	// + .mm_form-textarea,
	// + .mm_form-select {
	// 	margin-top: 7px;

	// 	.text_label {
	// 		margin-top: 26px;
	// 	}
	// }

	// 높이 sm
	// &[class*="_sm_"] {
	// 	label {
	// 		height: var.$form_select_height_sm;

	// 		select {
	// 			padding: 0 28px 0 8px;
	// 			@include mixin.font('#{var.$form_select_fontSize_sm}/#{(var.$form_select_height_sm - 2px)}');
	// 		}

	// 		.mco_form-select {
	// 			top: 6px;
	// 			right: 13px;
	// 		}

	// 		.text_readonly {
	// 			padding: 0 28px 0 8px;
	// 			@include mixin.font('14px/30px');
	// 		}
	// 	}
	// }

	// 넓이 short
	// &[class*="_short_"] {
	// 	max-width: 122px;
	// }

	// 넓이 shortest
	// &[class*="_shortest_"] {
	// 	max-width: 66px;

	// 	label {
	// 		select {
	// 			padding-left: 12px;
	// 		}
	// 	}
	// }

	// + .mm_btn {
	// 	margin-top: 9px;
	// }
}
//> 셀렉트

//< 체크박스
.mm_form-check {
	position: relative;
	max-width: 100%;
	@include mixin.font('0/1');
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링이 제대로 되지 않을 때 적용
	@include mixin.transform(translate3d(0, 0, 0));

	> input[type="checkbox"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include mixin.opacity(0);

		+ .mm_block {
			cursor: pointer;
		}

		&:checked + .mm_block {
			.mco_form-check {
				border-color: var.$color_point1!important;
				background-color: var.$color_point1!important;

				&::before {
					color: #fff;
				}
			}
		}
	}

	.mco_form-check {
		position: relative;
		width: var.$form_check_height_base;
		height: var.$form_check_height_base;
		border: 1px solid #b8b8b9;
		border-radius: var.$form_borderRadius_base;
		background-color: #f2f2f2;
		@include mixin.font(#cdcdcd '17px/#{var.$form_check_height_base}' center);

		&::before {
			position: absolute;
			top: 0;
			left: 4px;
		}

		+ .text_label {
			margin-left: 8px;
		}
	}

	&:not(.__check_circle__) > input[type="checkbox"] {
		+ .mm_block {
			.mco_form-check {
				background-color: #fff;
			}
		}

		&:disabled + .mm_block {
			cursor: default;

			.mco_form-check {
				background-color: #f2f2f2;
			}
		}
	}

	.text_label {
		display: inline-block;
		@include mixin.font(var.$form_color_base '14px/#{var.$form_check_height_base - 2px}');
	}

	// 체크된 비활성
	&.__disabled-on {
		.mco_form-check {
			color: #999;
		}
	}

	// 써클형(라디오형)
	&[class*="_circle_"] {
		height: 20px;

		.mco_form-choice {
			position: relative;
			top: 0;
			left: 0;
			@include mixin.font(#cdcdcd '20px/20px');

			+ .text_label {
				margin-left: 8px;
			}
		}

		:checked + .mm_block {
			.mco_form-choice::before {
				color: var.$color_point1;
			}
		}
	}

	// + .mm_note {
	// 	margin: 16px 0 0 1px;
	// }

	// + .mm_foot {
	// 	margin-top: 17px;
	// }
}
//> 체크박스

//< 라디오
.mm_form-radio {
	position: relative;
	padding-left: var.$form_radio_height_base;
	@include mixin.font('0/1');
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링이 제대로 되지 않을 때 적용
	@include mixin.transform(translate3d(0, 0, 0));

	> input[type="radio"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include mixin.opacity(0);

		+ .mm_block {
			cursor: pointer;

			.mco_form-radio {
				background-color: #fff;
			}
		}

		&:checked + .mm_block {
			.mco_form-radio::before {
				background-color: var.$color_point1;
			}
		}

		&:disabled + .mm_block {
			cursor: default;

			.mco_form-radio {
				background-color: #f2f2f2;
			}
		}
	}

	.mco_form-radio {
		position: absolute;
		top: 0;
		left: 0;
		width: var.$form_radio_height_base;
		height: var.$form_radio_height_base;
		border: 1px solid #b8b8b9;
		border-radius: 100%;
		background-color: #f2f2f2;

		&::before {
			position: absolute;
			top: 4px;
			left: 4px;
			width: (var.$form_radio_height_base - 10px);
			height: (var.$form_radio_height_base - 10px);
			border-radius: 100%;
			background-color: #cdcdcd;
			content: '';
		}

		+ .text_label {
			margin-left: 7px;
		}
	}

	.text_label {
		display: inline-block;
		height: 20px;
		@include mixin.font(var.$form_color_base '14px/#{var.$form_radio_height_base - 2px}');
	}

	// 체크된 비활성
	&.__disabled-on {
		.mco_form-radio::before {
			background-color: #999;
		}
	}

	// + .mm_note {
	// 	margin: 16px 0 0 1px;
	// }
}
//> 라디오

//< 파일(일반)
.mm_form-file {
	position: relative;
	// width: 100%;
	@include mixin.font('0/1');
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링이 제대로 되지 않을 때 적용
	@include mixin.transform(translate3d(0, 0, 0));

	input[type="file"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include mixin.opacity(0);
	}

	// 파일 선택
	&.__file-on {
		.btn_remove-file {
			display: block;
		}
	}

	.btn_remove-file {
		display: none;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: var.$form_file_clear;
		height: var.$form_text_height_base;

		.mco_form-clear {
			@include mixin.font('15px/#{var.$form_text_height_base}');
		}

		+ label {
			.text_path {
				// margin-right: 4px;
				padding-right: var.$form_file_clear;
			}
		}
	}

	label {
		display: block;
		position: relative;
		padding-left: 86px;

		.text_path {
			display: block;
			@include mixin.text-ellipsis(1);
			padding: 0 8px;
			height: var.$form_text_height_base;
			border: 1px solid var.$form_borderColor_base;
			background-color: #fff;
			@include mixin.font('#{var.$form_fontSize_base}/#{var.$form_text_height_base}' left);
			cursor: text;
		}

		.mm_btn.text_label {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			cursor: pointer;
		}
	}
}
//> 파일(일반)

//< 파일(이미지)
.mm_form-image {
	display: table;// block 줄바꿈과 inline-block 의 width 방식 적용을 위해 table 사용
	overflow: hidden;
	position: relative;
	width: 140px;
	max-width: 100%;
	// height는 mm_form-image에 사용하지 말고 mm_form-image-preview와 mm_form-image-box에 padding-top으로 사용
	@include mixin.font('0/1');
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링이 제대로 되지 않을 때 적용
	@include mixin.transform(translate3d(0, 0, 0));

	&.__image-full,
	&.__image-fit {
		width: auto;
	}

	// 파일 선택
	&.__image-on {
		// 비율 고정
		&.__image-ratio {
			// width: 33%;
		}

		.btn_remove-file {
			display: block;
		}

		.mm_form-image-preview {
			display: block;

			&.mm_image-none {
				@include mixin.fluid-media(100%);
			}

			~ label {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				.mm_form-image-box {
					display: none;
				}
			}
		}
	}

	input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include mixin.opacity(0);
	}

	label {
		display: block;
		cursor: pointer;
	}

	.btn_remove-file {
		display: none;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: var.$form_image_clear;
		height: var.$form_image_clear;
		background-color: rgba(#000, 0.5);
		@include mixin.font(#cdcdcd '12px/#{var.$form_image_clear}' center);
	}

	&-preview {
		display: none;
		overflow: hidden;
		position: relative;
		padding-top: 100%;
		background-color: #fff;

		.__image-full &,
		.__image-fit & {
			overflow: visible;
			padding-top: 0;

			canvas {
				position: static;
				max-width: 100%;
			}
		}

		canvas {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
	}

	&-box {
		display: block;
		position: relative;
		width: 100%;
		padding-top: 100%;
		background-color: #f5f5f5;

		.ico_upload {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 28px;
			border-left: 1px solid #d6d6d6;
			@include mixin.transform(translate(-50%, -50%));

			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 28px;
				border-top: 1px solid #d6d6d6;
				@include mixin.transform(translate(-50%, -50%));
				content: '';
			}
		}
	}
}

// 멀티이미지
.mm_form-multiple {
	font-size: 0;

	> ul {
		display: inline-block;

		.__ie11 & {min-width: 230px;}

		> li {
			float: left;

			&:nth-child(n+2) {
				margin-left: 4px;
			}
		}
	}

	.mm_form-image {
		width: 74px;
	}

	.btn_select-multiple {
		position: relative;
		padding-top: 17px;
		margin-left: 4px;
		width: 148px;
		height: 74px;
		border: 1px solid var.$color_point1;
		@include mixin.font(var.$color_point1 '13px' center);
		cursor: pointer;

		input[type="file"][multiple] {
			position: absolute;
			z-index: -1;
			@include mixin.opacity(0, none);
		}

		.mco_image-multiple {
			display: block;
			margin: 0 0 5px 3px;
			font-size: 20px;
		}
	}
}
//> 파일(이미지)

//< 오류 텍스트
.text_alert {
	position: relative;
	padding: 3px 0 0 2px;
	@include mixin.font(var.$color_negative_base '13px/18px' left);
}
//> 오류 텍스트

//< 유효성 텍스트
.text_valid {
	display: block;
	position: relative;
	padding: 4px 0 0 2px;
	@include mixin.font(#01ba59 '13px/18px');

	.mco_form-valid {
		margin: 0 3px 0 1px;
		font-size: 13px;
	}

	// 안전(기본), 보통, 위험, 사용불가
	$valid: (normal, #00aae2), (danger, #ff7200), (invalid, #f3041a);
	@each $state, $color in $valid {
		&.__valid-#{$state} {
			color: $color;
		}
	}
}
//>-- 유효성 텍스트

//< 폼영역
.mm_formmix {
	position: relative;
	padding: 0 14px;

	> section {
		padding-top: 31px;
	}

	//< 연결(전화번호, 사업자번호, 생년월일 등 form + form 구조)
	&-linked {
		@include mixin.flex-container();

		> *:nth-child(n+2) {
			margin-top: 0;
			margin-left: 4px;

			&.mm_btn {
				margin-left: 8px;
			}
		}

		> .mm_form-text,
		> .mm_form-select {
			@include mixin.prefix(flex, 1, webkit ms);
			// max-width: 200px;

			// $sizes: (shortester, 100px), (shortest, 156px), (wide, 200px),(wider, 200px), (auto, none);
			// @each $type, $width in $sizes {
			// 	&[class*="_#{inspect($type)}_"] {
			// 		max-width: $width;
			// 	}
			// }

			+ .mm_form-check {
				margin-left: 10px;
			}
		}

		> .text_linked {
			display: inline-block;
			margin: 0 23px 0 8px;
			height: 46px;
			@include mixin.font(#2b2b2b '15px/46px' [var.$fontFamily_latin], 0);

			+ [class*="mm_form-"] {
				margin-left: 0;
			}
		}

		.mm_form-radio {
			.mco_form-radio {
				top: 13px;
			}

			.text_label {
				height: 46px;
				line-height: 46px;
			}

			+ .mm_form-text,
			+ .mm_form-textarea {
				margin-left: 14px;
			}

			+ .mm_form-text[class*="_short_"] {
				width: 300px;

				.__ie11 & { min-width: 300px; }
			}

			+ .mm_form-textarea {
				width: 600px;
			}
		}

		+ .mm_text-label {
			margin-top: 23px;
		}

		.mm_form-check {
			.mco_form-check {
				top: 13px;
			}

			.text_label {
				height: 46px;
				line-height: 46px;
			}
		}

		// > .mm_form-check,
		// > .mm_form-radio {
		// 	margin-top: 10px;
		// }

		// > .mm_radio-list,
		// > .mm_check-list {
		// 	padding-top: 10px;

		// 	&:not(:first-child) {
		// 		margin-left: 20px;
		// 	}

		// 	@include mixin.context-before('.text_linked +') {
		// 		margin-left: 14px;
		// 	}
		// }

		// > .text_tilde {
		// 	display: inline-block;
		// 	margin: 0;
		// 	width: 23px;
		// 	@include mixin.font(#2b2b2b '15px/42px' center);

		// 	+ [class*="mm_form-"] {
		// 		margin-left: 0;
		// 	}
		// }

		// + .mm_note {
		// 	p {
		// 		margin: 4px 0 0 1px;
		// 	}
		// }

		// + .mm_formmix-linked {
		// 	margin-top: 8px;
		// }
	}
	//> 연결(전화번호, 사업자번호, 생년월일 등 form + form 구조)

	//< 주소
	&-address {
		.mm_formmix-linked {
			.mm_form-text {
				max-width: 180px;
			}

			.mm_btn {
				margin-left: 4px;
				padding: 0;
				width: 123px;
			}
		}

		> .mm_form-text {
			margin-top: 4px;
		}

		label {
			.textfield[readonly] {
				+ .bg_text {
					background-color: #fff;
				}
			}
		}
	}
	//> 주소

	//< 기간검색
	&-period {
		@include mixin.flex-container();

		.mm_formmix-linked {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 1px solid #cdcdcd;
				border-radius: 3px;
				content: '';
			}

			> * {
				margin: 0;
			}

			.mm_form-text {
				max-width: 163px;

				label {
					.bg_text {
						top: 1px;
						right: 1px;
						bottom: 1px;
						left: 1px;
						border: 0;
					}
				}
			}

			.text_tilde {
				@include mixin.font('14px/44px');
			}
		}

		.mm_btn {
			margin-left: 4px;
			padding: 0;
			width: 92px;
			border-radius: 3px;
		}
	}
	//> 기간검색
}
//> 폼영역

//< 셀렉트리스트
// .mm_select-list {

// }
//> 셀렉트리스트

//< 체크리스트
.mm_check-list {
	line-height: 1;

	&[class*="_chain_"] {
		> .mm_form-check {
			margin-bottom: 10px;
		}

		> ul {
			margin: -10px 0 0 -20px;

			li {
				float: left;
				margin: 10px 0 0 20px;
			}
		}

		+ .mm_check-listbox {
			margin-top: 27px;
		}
	}

	&:not([class*="_chain_"]) {
		> ul {
			> li:nth-child(n+2) {
				margin-top: 10px;
			}
		}
	}

	&box {
		text-align: right;

		.mm_check-list {
			padding: 17px 15px;
			border: 1px solid #cdcdcd;
			border-radius: var.$form_borderRadius_base;
			text-align: left;

			li {
				> .mm_flex {
					.mm_form-check {
						@include mixin.prefix(flex, 1, webkit ms);
					}
				}

				.text_label {
					margin-left: -(var.$form_check_height_base);
					padding-left: var.$form_check_height_base + 7px;
					max-width: 100%;
				}
			}

			.btn_detail {
				margin-right: -15px;
				padding: 0 15px;
				@include mixin.font(#8c8c8c '12px/14px');

				span,
				b {
					display: inline;
					position: relative;

					&::before {
						position: absolute;
						right: 0;
						bottom: 0;
						left: 0;
						border-bottom: 1px solid #8c8c8c;
						content: '';
					}
				}
			}

			.mm_note {
				margin: 10px 0 -4px -1px;
				line-height: 20px;
			}

			+ .mm_form-check {
				margin: 10px 3px 0 0;
			}
		}

		+ .mm_text-label {
			margin-top: 23px;
		}
	}

	// + .mm_note {
	// 	margin: 16px 0 0 1px;
	// }
}
//> 체크리스트

//< 라디오리스트
.mm_radio-list {
	line-height: 1;

	&[class*="_chain_"] {
		> ul {
			margin: -14px 0 0 -30px;

			> li {
				float: left;
				margin: 14px 0 0 30px;

				&:nth-child(n+2) {
					margin-left: 30px;
				}
			}
		}

		+ .mm_check-listbox {
			margin-top: 10px;
		}
	}

	&:not([class*="_chain_"]) {
		li:nth-child(n+2) {
			margin-top: 15px;
		}
	}

	+ .mm_text-label {
		margin-top: 23px;
	}

	// + .mm_note {
	// 	margin: 16px 0 0 1px;
	// }
}
//> 라디오리스트

//< 폼 타이틀
.mm_text-label {
	padding: 0 0 9px 1px;
	vertical-align: 0;
	@include mixin.font('14px/19px' left);
}
//> 폼 타이틀

//< 수량
.mm_stepper {
	display: inline-block;
	position: relative;
	padding: 0 23px;

	.mm_form-text {
		width: 30px;

		label {
			padding-top: 2px;
			height: 24px;
			border-color: var.$form_borderColor_base;
			font-size: 12px;

			.textfield {
				padding: 0;
				text-align: center;

				&:focus:not([readonly]) + .bg_text {
					border-color: var.$form_borderColor_base;
				}
			}

			.bg_text {
				border-radius: 0;
			}
		}
	}

	button {
		position: absolute;
		top: 0;
		width: 24px;
		height: 24px;
		border: 1px solid var.$form_borderColor_base;
		background-color: #fff;
		@include mixin.font(#999 '11px/24px');

		&.btn_stepper-subtract {
			left: 0;
			border-radius: 2px 0 0 2px;
		}

		&.btn_stepper-add {
			right: 0;
			border-radius: 0 2px 2px 0;
		}

		[class*="ico_stepper-"] {
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -1px 0 0 -3px;
				width: 7px;
				height: 1px;
				background-color: #999;
				content: '';
			}

			@include mixin.context-replace('button', 'button:disabled') {
				&::before,
				&::after {
					background-color: #dcdcdc;
				}
			}
		}

		.ico_stepper-add::after {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -4px;
			width: 1px;
			height: 7px;
			background-color: #999;
			content: '';
		}
	}
}
//> 수량