@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';

/**
 * 컴포넌트
 * 로딩, 찜하기, 별점
 * 드롭다운/아코디언, 탭메뉴, 스와이퍼, 핀치줌, 에디터
 * 컨텐츠
 * 팝오버, 툴팁, 토스트팝업
**/


//< 드롭다운
.mm_dropdown {
	position: relative;
	font-size: 14px;

	.btn_dropdown {
		position: relative;
		width: 100%;

		[class*="mco_dropdown"] {
			position: absolute;
			top: 50%;
			right: 0;
			color: #6a6a6a;
			@include mixin.transform(translateY(-50%));
		}

		// 드롭다운 열림
		@include mixin.context-first('.__dropdown-on') {
			[class*="mco_dropdown"] {
				color: var.$color_point1;

				&::before {
					@include mixin.transform(scaleY(-1));
				}
			}
		}
	}

	&-item {
		overflow: hidden;
		height: 0;
		@include mixin.opacity(0, none);
		@include mixin.transition(opacity 0s const.$time_fast);

		// 드롭다운 열림
		.__dropdown-on & {
			@include mixin.opacity(1, auto);
			@include mixin.transition(opacity 0s);
		}

		&-inner {
			position: relative;
		}
	}
}
//> 드롭다운

//< 아코디언 (드롭다운 포함)
.mm_accordion {
	> ul {
		> li {
			border-bottom: 1px solid #e6e6e6;
			@include mixin.font('14px/19px');
		}
	}

	.btn_dropdown {
		&::before {
			position: absolute;
			top: 20px;
			left: 22px;
			@include mixin.font('15px/1');
			content: 'Q';
		}

		> p {
			display: inline-block;
			position: relative;
			margin-right: 45px;
			padding: 20px 0 19px 54px;
		}

		.mco_dropdown {
			right: 24px;
		}
	}

	.mm_dropdown-item-inner {
		padding: 20px 45px 21px 53px;
		border-top: 1px solid #e6e6e6;
		background-color: #fafafa;
		@include mixin.font(#3d3d3d '13px/23px');
	}

	// 아코디언 열림
	.__dropdown-on {
		.btn_dropdown {
			@include mixin.font(var.$color_point1 700);
		}
	}
}
//> 아코디언

//< 탭메뉴
.mm_tabmenu {
	border-bottom: 1px solid #dcdcdc;

	> ul {
		height: 65px;

		> li {
			> a,
			.btn_tab {
				position: relative;
				@include mixin.font(#999 '17px/64px');

				b {
					position: relative;
				}

				&.__tab-on {
					color: var.$color_text_base;

					&::after {
						position: absolute;
						right: 0;
						bottom: -1px;
						left: 0;
						border-bottom: 2px solid #101010;
						content: '';
					}
				}

				@include mixin.context-first('[class*="_primary_"]') {
					&.__tab-on {
						color: var.$color_point1;

						&::after {
							border-bottom-color: var.$color_point1;
						}
					}
				}
			}
		}

		// 탭메뉴 float
		&:not(.mm_flex) {
			> li {
				float: left;

				> a,
				.btn_tab {
					display: block;
					width: 150px;
					height: 66px;
					text-align: center;

					// 가로 폭 자동
					@include mixin.context-first('[class*="_auto_"]') {
						padding: 0 30px;
						width: auto;
					}
				}
			}
		}
	}

	&[class*="_square_"] {
		border: 0;

		> ul {
			height: 46px;

			> li {
				&:nth-child(n+2) {
					margin-left: -1px;
				}

				> a,
				.btn_tab {
					border: 1px solid #dcdcdc;
					@include mixin.font(#7b7b7b '14px/42px');

					&::after {
						display: none;
					}

					&.__tab-on {
						z-index: 1;
						border-color: #101010;
						color: var.$color_text_base;
					}

					@include mixin.context-first('[class*="_primary_"]') {
						&.__tab-on {
							border-color: var.$color_point1;
							color: var.$color_point1;
						}
					}

					.__ie11 & { line-height: 44px; }
				}
			}
		}
	}
}
//> 탭메뉴

//< 탭컨텐츠
.mm_tab {
	&-item {
		display: none;

		// 탭 선택
		&.__tab-on {
			display: block;
		}
	}
}
//> 탭컨텐츠

//< 캐러셀
.mm_carousel {
	position: relative;

	&-inner {
		overflow: hidden;
		// * 좌/우 padding은 inner에 적용
	}

	&-list {
		position: relative;
		// padding-top: %;// item이 absolute로 높이는 %로 지정
		// * _isAutoHeight: true 이면, 높이는 padding-top 대신 height로 하고 overflow: hidden; 필요에 따라 적용 필요
	}

	&-item {
		position: absolute;
		top: 0;
		width: 100%;
		background-color: #fff;
		// * margin 대신 padding 으로 적용

		figcaption {
			visibility: hidden;

			.__carousel-ready & {
				visibility: inherit;
			}
		}

		&.__carousel-on {
			z-index: 1;
		}

		> a {
			display: block;
		}
	}

	// 이전, 다음
	&-control {
		//
	}

	.btn_carousel-prev,
	.btn_carousel-next {
		position: absolute;
		z-index: 3;
		top: 50%;
		@include mixin.transform(translateY(-50%));
	}

	.btn_carousel-prev {
		left: 0;
	}

	.btn_carousel-next {
		right: 0;
	}

	// 페이지네이션
	&-pagination {
		position: absolute;
		z-index: 3;
		left: 50%;
		@include mixin.font('0', nowrap);
		@include mixin.transform(translateX(-50%));

		li {
			display: inline-block;

			&:nth-child(n+2) {
				margin-left: 10px;
			}
		}

		.btn_carousel-page {
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background-color: #dcdcdc;
			// @include mixin.opacity(0.5);
			@include mixin.transition(width const.$time_fast, opacity const.$time_fast);

			&.__carousel-on {
				width: 66px;
				background-color: #2b2b2b;
				// @include mixin.opacity(1);
			}
		}
	}

	// 개수
	&-count {
		position: absolute;
		z-index: 3;

		.text_carousel-index {
			//
		}

		.text_carousel-total {
			//
		}
	}
}
//> 캐러셀

//< 슬라이더
.mm_slider {
	position: relative;

	&-inner {
		overflow: hidden;
		// * 좌/우 padding은 inner에 적용
		// * 개수가 영역보다 적을 때 center가 아닌 left/right 정렬을 해야 할 경우, &[style*="center"] {} 로 변경 가능
	}

	&-list {
		display: inline-block;
		font-size: 0;
		white-space: nowrap;
		text-align: left;
	}

	&-item {
		display: inline-block;
		background-color: #fff;
		white-space: normal;
		// * margin 대신 padding 으로 적용하고 left/right 한 쪽보다 양쪽을 권장

		figcaption {
			visibility: hidden;

			.__slider-ready & {
				visibility: inherit;
			}
		}

		> a {
			display: block;
		}
	}

	// 이전, 다음
	&-control {
		//
	}

	.btn_slider-prev,
	.btn_slider-next {
		position: absolute;
		z-index: 3;
		// top: 50%;
		// @include mixin.transform(translateY(-50%));
	}

	.btn_slider-prev {
		// left: 0;
	}

	.btn_slider-next {
		// right: 0;
	}

	// 페이지네이션
	&-pagination {
		position: absolute;
		z-index: 3;
		bottom: 0;
		left: 50%;
		@include mixin.font('0', nowrap);
		@include mixin.transform(translateX(-50%));

		ol {
			margin: 0;

			li {
				display: inline-block;
				float: none;
				margin: 0;
				width: auto;

				&:nth-child(n+2) {
					margin-left: 10px;
				}
			}
		}

		.btn_slider-page {
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background-color: #dcdcdc;
			// @include mixin.opacity(0.5);
			@include mixin.transition(width const.$time_fast, opacity const.$time_fast);

			&.__slider-on {
				width: 66px;
				background-color: #2b2b2b;
				// @include mixin.opacity(1);
			}
		}
	}
}
//> 슬라이더

//< 검색필터
.mm_filter {
	.mm_dropdown {
		border-bottom: 2px solid #101010;
		text-align: right;

		.btn_dropdown {
			padding: 0 14px 0 32px;
			width: 134px;
			height: 35px;
			border: 1px solid #101010;
			border-radius: 3px 3px 0 0;
			border-width: 1px 1px 0;
			@include mixin.font(var.$color_text_base '14px/35px' left);

			.mco_filter {
				position: absolute;
				left: 13px;
			}

			b {
				line-height: 33px;
			}

			.mco_dropdown-sm {
				right: 13px;
				@include mixin.font(var.$color_text_base '18px');
			}
		}

		&-item-inner {
			padding: 0 0 24px 0;
			border-top: 2px solid #101010;
			text-align: left;
		}
	}

	&-list {
		display: inline-block;
		@include mixin.font('/28px' center);

		ul {
			padding: 13px 0;

			li {
				float: left;
				margin-left: 10px;
			}
		}
	}

	.mm_form-check,
	.mm_form-radio {
		padding: 0;
		height: 28px;

		:checked {
			+ .mm_block {
				&::before {
					@include mixin.prefix(box-shadow, 2px 3px 8px rgba(#000, 0.18), webkit);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border: 1px solid var.$color_point1;
					border-radius: 28px;
					content: '';
				}

				> * {
					color: var.$color_point1 !important;
				}
			}
		}

		.mm_block {
			padding: 0 12px;

			.text_label {
				height: auto;
				@include mixin.font(#2b2b2b '/26px' center);
			}
		}
	}

	section {
		position: relative;
		padding-left: 104px;
		border-bottom: 1px solid #eee;
		@include mixin.font(#2b2b2b '0');

		h5 {
			position: absolute;
			top: 50%;
			left: 24px;
			margin-top: -1px;
			@include mixin.font(var.$color_text_base '14px');
			@include mixin.transform(translateY(-50%));
		}
	}

	// 브랜드 필터
	&-brand {
		padding-top: 14px;
		height: 157px;

		&-search {
			display: inline-block;
			margin-left: 22px;
			width: 388px;

			.mm_form-text {
				.btn_text-clear {
					right: 35px;
					width: 30px;
				}

				label {
					.textfield:not(:disabled):not([readonly]) {
						padding-right: 70px;
					}
				}

				.btn_search {
					position: absolute;
					z-index: 1;
					top: 0;
					right: 0;
					bottom: 0;
					width: 35px;
					@include mixin.font(#6a6a6a '14px/48px' center);

					.mco_search-brand {
						margin-left: -7px;
					}
				}
			}

			ul {
				margin: -2px 0 0 -2px;
				padding-top: 6px;

				li {
					float: left;
					margin: 2px 0 0 2px;

					&:nth-last-of-type(2),
					&:last-of-type {
						button {
							width: 50px;
						}
					}

					button {
						width: 24px;
						height: 24px;
						border: 1px solid #d5d5d5;
						border-radius: 2px;
						@include mixin.font(#7b7b7b '13px/22px' center);

						&.__filter-on {
							border-color: #2b2b2b;
							color: #2b2b2b;
						}
					}
				}
			}
		}

		&-list {
			float: right;
			width: 802px;
			height: 100%;

			ul {
				margin-top: -12px;
				padding: 7px 0 14px;

				li {
					display: none;
					float: left;
					padding-top: 12px;
					width: 25%;
					text-align: left;

					&.__filter-on {
						display: block;
					}
				}
			}

			.mm_form-check {
				@include mixin.font('/28px', nowrap);

				.mm_block {
					@include mixin.flex-container();

					.text_label {
						@include mixin.text-ellipsis(1);
						max-width: 140px;
						line-height: 26px;
					}

					small {
						@include mixin.prefix(flex, auto, webkit ms);
						margin-left: 6px;
						@include mixin.font(#999 '13px' [var.$fontFamily_latin], 0);
					}
				}
			}

			.mm_text-none {
				margin-left: -22px;
				padding: 31px 0 43px !important;
			}
		}
	}

	// 카테고리 필터
	&-category {
		@include mixin.font(#101010 left);

		// 대/중카테고리 목록
		&-main {
			display: inline-block;
			padding: 13px 10px;
			font-size: 14px;

			ul {
				margin: -6px 0 0 -11px;

				li {
					float: left;
					margin: 6px 0 0 11px;
				}
			}

			.btn_category {
				position: relative;
				padding: 0 12px;
				height: 28px;
				@include mixin.font(#2b2b2b '/27px' center);

				&.__category-on {
					&::before {
						visibility: inherit;
					}

					b {
						color: var.$color_point1;
					}
				}

				&::before {
					visibility: hidden;
					@include mixin.prefix(box-shadow, 2px 3px 8px rgba(#000, 0.18), webkit);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border: 1px solid var.$color_point1;
					border-radius: 28px;
					content: '';
				}
			}

			+ .mm_filter-category-main {
				display: none;
				border-top: 1px solid #eee;

				ul {
					margin-left: -8px;

					li {
						margin-left: 8px;
					}
				}

				&.__category-on {
					display: block;
				}
			}
		}

		// 소카테고리 목록
		&-sub {
			visibility: hidden;
			padding: 0 12px;
			height: 0;
			max-height: 109px;
			background-color: #fafafa;

			&.__category-on {
				visibility: inherit;
				margin-bottom: 20px;
				height: auto;
				border: 1px solid #eee;
			}

			.mm_filter-list {
				ul {
					margin-top: -12px;
					padding: 14px 0;

					li {
						margin-top: 12px !important;
						width: 182px;
						text-align: left;
					}

					.mm_form-check {
						@include mixin.font('/28px', nowrap);

						.mm_block {
							@include mixin.flex-container();

							.text_label {
								@include mixin.text-ellipsis(1);
								max-width: 140px;
								line-height: 26px;
							}

							small {
								@include mixin.prefix(flex, auto, webkit ms);
								margin-left: 6px;
								@include mixin.font(#999 '13px' [var.$fontFamily_latin], 0);
							}
						}
					}
				}
			}
		}
	}

	// 가격 필터
	&-price-range {
		display: inline-block;
		margin: 14px 0 0 55px;
		@include mixin.clearfix();

		> * {
			float: left;
		}

		.mm_form-text {
			width: 133px;

			.btn_text-clear {
				height: 30px;
				line-height: 30px;
			}

			label {
				padding-top: 5px;
				height: 30px;

				.text_placeholder {
					line-height: 30px;
				}
			}
		}

		.text_tilde {
			width: 20px;
			@include mixin.font(#4a4a4a '14px/29px' center);
		}

		.btn_price-apply {
			margin-left: 4px;
			padding: 0;
			width: 62px;
			height: 30px;
			background-color: #f5f5f5;
			@include mixin.font(#a3a3a3 '/30px');
		}
	}

	// 별점 필터
	&-star {
		.mm_form-check {
			.mm_block {
				vertical-align: 0;

				[class*="mco_stars-"] {
					margin-right: 6px;
					vertical-align: 0;
					@include mixin.font(#a3a3a3 '13px');
				}

				.text_label {
					margin-right: -2px;
					vertical-align: 0;
				}
			}
		}
	}

	// 색상 필터
	// &-color {
	// 	ul {
	// 		margin-top: -5px;

	// 		li {
	// 			overflow: hidden;
	// 			margin-top: 5px;
	// 			width: 154px;
	// 			text-align: left;
	// 		}
	// 	}

	// 	.mm_form-check {
	// 		.mm_block {
	// 			padding-left: 6px;
	// 			@include mixin.font('0', nowrap);

	// 			.mco_check-color {
	// 				margin-top: 5px;
	// 				width: 18px;
	// 				height: 18px;
	// 				border: 1px solid #e6e6e6;
	// 				border-radius: 100%;
	// 			}

	// 			.text_label {
	// 				margin-left: 7px;
	// 			}
	// 		}
	// 	}
	// }

	.mm_btnbox {
		margin-top: 14px;

		.btn_reset {
			position: relative;
			padding: 0 20px;
			height: 46px;
			@include mixin.font(#999 '13px/46px' center);

			.mco_reset {
				margin-right: 5px;
				font-size: 14px;
			}

			b {
				vertical-align: -1px;
			}

			&::after {
				position: absolute;
				right: 18px;
				bottom: 13px;
				left: 20px;
				border-bottom: 1px solid #aeaeae;
				content: '';
			}
		}

		button:nth-child(n+2) {
			margin-left: 4px;
		}
	}

	// 선택된 필터목록
	&-selected {
		ul {
			display: block;
			margin: -7px 0 0 -6px;
			padding: 14px 90px 0;
			@include mixin.font('0' center);

			li {
				display: inline-block;
				margin: 7px 0 0 6px;
			}
		}

		&-item {
			overflow: hidden;
			position: relative;
			padding: 0 30px 0 12px;
			height: 28px;
			border: 1px solid #8c8c8c;
			border-radius: 28px;
			background-color: #f5f5f5;
			@include mixin.font(#5c5c5c '14px/25px');

			[class*="mco_stars-"] {
				margin-right: 3px;
				font-size: 13px;
			}

			.btn_filter-remove {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				padding: 8px 9px 0 0;
				width: 26px;
				height: 26px;
			}
		}
	}

}
//> 검색필터

//< 성별필터
.mm_filter-gender {
	position: fixed;
	z-index: const.$zIndex_floating;
	bottom: 0;
	width: 100%;
	min-width: var.$minWidth_extend;
	height: 0;
	font-size: 0;

	&.__filter-hold {
		position: absolute;
		bottom: var.$footer_height_base;
		left: 0 !important;
	}

	&-inner {
		display: inline-block;
		overflow: hidden;
		@include mixin.prefix(box-shadow, 0 1px 6px 0 rgba(#000, 0.3), webkit);
		position: relative;
		bottom: 50px;
		left: 50%;
		margin: 0 auto;
		// width: 285px;
		height: 44px;
		border-radius: 44px;
		background-color: #fff;
		@include mixin.transform(translate(-50%, -100%));
	}

	button {
		width: 95px;
		height: 100%;
		@include mixin.font('15px/44px');

		.mco_close {
			display: none;
			margin: 0 9px 0 0;
			@include mixin.font('10px/44px');
			@include mixin.transform(scale(0.9));
		}

		&:nth-child(2) {
			b {
				margin-left: -7px;
			}
		}

		&:last-child {
			b {
				margin-left: -15px;
			}

			.mco_close {
				margin: 0 9px 0 -6px;
			}
		}

		&.__switch-on {
			background-color: var.$color_point1;
			color: #fff;

			.mco_close {
				display: inline-block;
			}

			b {
				margin: 0;
			}
		}
	}
}
//> 성별필터

//< 최근검색어, 인기검색어
.mm_search-keyword {
	font-size: 14px;

	h5 {
		padding: 26px 21px 16px;
		font-size: 17px;
	}

	li {
		position: relative;

		a {
			display: block;
			@include mixin.text-ellipsis(1);
			position: relative;
			line-height: 30px;
		}
	}

	// 최근 검색어
	ul {
		a {
			padding: 0 46px 0 26px;
		}

		.btn_remove {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 0 26px 0 10px;
			@include mixin.font(#b8b8b9 '10px/34px');
		}
	}

	// 인기 검색어
	ol {
		counter-reset: listIndex;

		li {
			color: #4a4a4a;

			&::before {
				position: absolute;
				z-index: 1;
				left: 24px;
				@include mixin.font(500 '15px/32px' [var.$fontFamily_latin], 0);
				counter-increment: listIndex;
				content: counter(listIndex);
			}

			&:nth-child(-n+3) {
				color: var.$color_text_base;

				&::before {
					color: #f86363;
				}
			}

			&:nth-child(n+10)::before {
				left: 25px;
				line-height: 34px;
			}
		}

		a {
			padding: 0 56px 0 50px;
		}

		[class*="mco_rank"] {
			position: absolute;
			top: 0;
			right: 24px;
			@include mixin.font('12px/32px');

			+ .text_rank {
				position: absolute;
				top: 0;
				right: 37px;
				@include mixin.font('12px/30px');
			}
		}

		$ranks: (up, #f86363), (down, #6d86e4), (new, var.$color_point1), (unchanged, #999);
		@each $rank, $color in $ranks {
			.mco_rank-#{$rank} {
				color: $color;

				@if $rank == new {
					line-height: 30px;
				}
				@else if $rank == unchanged {
					margin-right: -2px;
					@include mixin.transform(scale(0.6));
				}

				+ .text_rank {
					color: $color;
				}
			}
		}
	}

	.btn_remove-all {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 10px 22px 25px;
		@include mixin.font(#6a6a6a '13px');

		.mco_remove-all {
			margin-right: 4px;
			font-size: 14px;

			.__ie11 & { margin-top: 1px; margin-bottom: -1px; }
		}
	}

	.text_update {
		position: absolute;
		right: 22px;
		bottom: 27px;
		@include mixin.font(#aeaeae '13px');

		span {
			display: inline-block;
			margin-right: 6px;
		}
	}

	.mm_text-none {
		padding-top: 118px;
	}
}
//> 최근검색어, 인기검색어

//< 에디터
.mm_editor {
	overflow: hidden;
	position: relative;
	@include mixin.font(#000 400 '12px/1.4' left);

	img {
		width: auto;
		max-width: 100%;
	}
}
//> 에디터

//< 팝오버
.mm_popover {
	position: relative;
	text-align: center;

	h6 {
		padding-bottom: 15px;
		@include mixin.font(#6a6a6a '13px');

		.mco_popover-help {
			margin-left: 6px;
			font-size: 14px;
		}
	}

	&-item {
		position: relative;
		margin: 0 auto;
		padding: 15px 19px 17px;
		width: 460px;
		border: 1px solid #aeaeae;
		@include mixin.font('13px/19px' left);

		&-box {
			margin-top: 11px;
			padding: 17px 15px 18px;
			background-color: #fafafa;
			@include mixin.font(#6a6a6a center);

			+ * {
				margin-top: 10px;
			}
		}

		.btn_email {
			position: relative;
			margin: 0 6px 0 2px;

			&::after {
				position: absolute;
				right: 0;
				bottom: 1px;
				left: 0;
				border-bottom: 1px solid #101010;
				content: '';
			}

			+ span {
				vertical-align: -2px;
			}
		}
	}
}
//> 팝오버

//< 툴팁
.mm_tooltip {

}
//> 툴팁

//< 토스트
.mm_toast {

}
//> 토스트

//< 로딩
.mm_loading {
	position: fixed;
	z-index: const.$zIndex_loading;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#fff, 0.1);
	@include mixin.font('0/1' center);

	.mm_page > & {
		position: absolute;// mobile: absolute, pc: fixed
		// top: var.$header_height_base;
		// bottom: var.$height_toolbar_base;
	}

	&-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		height: auto !important;
		@include mixin.transform(translate(-50%, -50%));
	}

	.mco_loading {
		width: 29px;// font-size + 4
		height: 29px;
		border-radius: 100%;
		background-color: rgba(#fff, 0.8);
		@include mixin.font(var.$color_point1 '25px/29px');
	}

	p:not(.mm_ir-blind) {
		margin-top: 7px;
		@include mixin.font('14px/18px', nowrap);
	}
}
//> 로딩

//< 찜하기
.mm_like {
	padding: 10px;
	@include mixin.font(#6a6a6a '18px' center);

	&.__switch-on {
		color: #f86363;

		.mco_like {
			@include mixin.monticon('', \ff19);
		}
	}
}
//> 찜하기

//< 리뷰
.mm_star {
	.mco_star {
		@include mixin.font(#f2953a '18px');
	}

	&.__switch-on {
		.mco_star {
			@include mixin.monticon('', \ecfa);
		}
	}
}
//> 리뷰

//< 별점
.mm_stars {
	vertical-align: 0;
	@include mixin.font(#f2953a '12px');

	[class*="mco_star"] {
		vertical-align: 0;
	}
}
//> 별점

.mm_satisfy {
	font-size: 0;

	dl {
		display: inline-block;
		position: relative;
		padding-left: 70px;

		dt {
			position: absolute;
			top: 0;
			left: 0;
			width: 62px;
			height: 22px;
			border: 1px solid var.$color_point1;
			border-radius: 22px;
			background-color: #fff;
			@include mixin.font(var.$color_point1 '13px/20px' center);

			.__ie11 & { line-height: 19px; }
		}

		dd {
			@include mixin.font('13px/22px');
		}

		+ dl {
			margin-left: 20px;
		}
	}
}

//< 핀치줌
.mm_pinchzoom {
	overflow: hidden;
}
//> 핀치줌

//< 카테고리
.mm_category {

}
//> 카테고리

//< 쿠폰
.mm_coupon {
	display: inline-block;
	position: relative;
	width: 122px;
	height: 60px;
	@include mixin.font(var.$color_text_base '12px/16px' left);

	&::after {
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		left: 1px;
		border-radius: 0 3px 3px 0;
		background-color: #fff;
		content: '';
	}

	.mm_coupon-inner {
		display: block;
		overflow: hidden;
		position: relative;
		padding: 13px 40px 0 20px;
		height: 100%;
		border-radius: 0 3px 3px 0;
		background-color: #dcdcdc;

		&::before {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0;
			width: 14px;
			height: 14px;
			border: 1px solid #dcdcdc;
			border-radius: 100%;
			background-color: #fff;
			content: '';
			@include mixin.transform(translate(-50%, -50%));
		}

		&::after {
			position: absolute;
			z-index: 1;
			top: -1px;
			right: -1px;
			bottom: -1px;
			width: 10px;
			background-color: var.$color_point1;
			content: '';
		}

		> * {
			position: relative;
			z-index: 1;
		}
	}

	a.mm_coupon-inner:not([href]) {
		.text_download {
			background-color: #a3a3a3;
			color: #e6e6e6;
		}
	}

	.image_logo {
		display: block;
		width: 40px;
		height: 10px;
		@include mixin.background(url('https://img.nstationmall.com/mall/ui/pc/common/logo.svg') '0 0/contain' no-repeat);
	}

	.text_price,
	.text_percent {
		padding-top: 3px;
		@include mixin.font(700 '20px/1' [var.$fontFamily_latin], nowrap 0);

		strong {
			vertical-align: 0;

			&::after {
				font-size: 12px;
			}
		}

		sub {
			font-size: 15px;
		}
	}

	.text_download {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 9px 6px 0;
		width: 40px;
		background-color: var.$color_point1;
		@include mixin.font(#fff '12px/13px' center);

		i {
			display: block;
			margin: 4px 0 0 1px;
			font-size: 14px;
		}

		.mco_coupon-complete {
			font-size: 10px;
		}

		~ .image_logo,
		~ .text_price,
		~ .text_percent {
			margin-left: -7px;
		}
	}

	&[class*="_sm_"] {
		width: 98px;
		height: 52px;

		.mm_coupon-inner {
			padding: 10px 7px 0 13px;

			&::before {
				width: 12px;
				height: 12px;
			}

			&::after {
				display: none;
			}

			.text_price,
			.text_percent {
				margin-left: 1px;
			}
		}
	}

	&[class*="_lg_"] {
		width: 168px;
		height: 100px;

		&::after {
			border-radius: 0 4px 4px 0;
		}

		.mm_coupon-inner {
			padding: 19px 13px 0 26px;
			border-radius: 0 4px 4px 0;

			&::before {
				width: 24px;
				height: 24px;
			}

			&::after {
				width: 13px;
			}

			.image_logo {
				margin-left: 2px;
				width: 65px;
				height: 14px;
				background-image: url('https://img.nstationmall.com/mall/ui/pc/common/logo.svg');
			}

			.text_price,
			.text_percent {
				padding-top: 5px;
				font-size: 28px;
			}

			.text_coupon {
				margin-left: 1px;
				padding-top: 7px;
				color: #5c5c5c;
			}
		}
	}
}
//> 쿠폰

//< 금액/혜택
.mm_cost {
	padding: 21px 33px 20px;
	width: 324px;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #fafafa;
	@include mixin.font('14px/31px');

	.text_price.mm_text-primary {
		strong {
			@include mixin.font(700 '28px');

			&::after {
				font-size: 17px;
			}
		}
	}

	> table {
		th {
			padding-left: 4px;
			width: 36%;
			text-align: left;
		}

		td {
			padding-right: 4px;
			text-align: right;
		}

		tbody {
			th {
				color: #4a4a4a;
			}

			.text_price {
				margin: 1px 0 -1px;

				strong {
					font-size: 20px;

					&::after {
						font-size: 14px;
					}
				}
			}

			tr:last-child {
				th,
				td {
					padding-bottom: 15px;
				}
			}
		}

		tfoot {
			border-top: 1px solid #dcdcdc;

			th,
			td {
				padding-top: 19px;
				font-size: 15px;
			}
		}
	}
}
//> 금액/혜택

//< 주문관련정보
.mm_order-info {
	@include mixin.font('14px/32px');

	table {
		margin-top: 14px;

		tr {
			> * {
				text-align: left;
			}

			th {
				padding-left: 23px;
				width: 174px;
				vertical-align: top;
				color: #7b7b7b;

				strong {
					color: var.$color_text_base;
				}
			}

			td {
				position: relative;
				padding-right: 23px;

				p.text_save {
					color: #f86363;
				}
			}

			// 환불계좌관리
			.btn_refund-modify {
				margin: 5px 0 0 9px;

				i {
					margin-left: 4px;
				}
			}
		}

		+ .mm_note {
			margin: 11px 0 0 22px;
		}
	}

	// 주소 우편번호
	.text_postcode {
		margin-right: 9px;
	}

	// 주소변경
	.btn_address-change {
		position: absolute;
		top: 4px;
		margin-left: 11px;

		> i {
			margin-left: 4px;

			.__ie11 & { margin-top: 1px; margin-bottom: -1px; }
		}
	}

	.text_price {
		display: inline-block;
		margin: 1px 0 -1px;
		width: 123px;
		@include mixin.font('/30px' right);

		> * {
			@include mixin.font(500 '18px');

			&::after {
				font-size: 14px;
			}
		}
	}

	// 교환상태에서만 노출되는 결제방법
	.text_payment {
		width: 123px;
		text-align: right;
	}

	+ .mm_order-info,
	+ .mm_order-form {
		margin-top: 86px;
	}
}

.mm_order-form {
	@include mixin.font('0/1');

	table {
		margin-top: 24px;
		font-size: 15px;

		tbody {
			tr:first-child {
				border-top: 0;
			}
		}

		tr {
			border-top: 10px solid transparent;

			> * {
				text-align: left;
			}

			th {
				padding-left: 23px;
				width: 174px;
				vertical-align: top;
				@include mixin.font(var.$color_text_base '/21px');

				b {
					padding: 13px 0 12px;
				}
			}
		}

		+ .mm_note {
			margin-top: 35px;
			padding: 20px 23px 0;
			border-top: 1px solid #eee;
		}
	}

	.mm_formmix-address {
		max-width: 456px;
	}

	+ .mm_order-form,
	+ .mm_order-info {
		margin-top: 94px;
	}
}
//> 주문관련정보

//< Q&A 드롭다운
.mm_qna-item {
	font-size: 14px;

	tr {
		border-top: 1px solid #e6e6e6;

		&:first-child {
			> * {
				padding: 20px 0;

				> p {
					padding: 0 26px;
					text-align: left;

					.mco_secret {
						margin: 2px 0 -1px 6px;
						@include mixin.font(#7b7b7b '12px');
					}
				}
			}
		}
	}

	.btn_dropdown {
		cursor: pointer;
	}

	.text_state {
		display: inline-block;
		padding: 17px;
		width: 68px;
		height: 68px;
		border-radius: 100%;
		background-color: #f5f5f5;
		@include mixin.font(#7b7b7b '/17px' center);

		&.mm_text-primary {
			background-color: #f0f7f7;
		}
	}

	.mm_dropdown-item {
		display: none;

		&-inner {
			background-color: #fafafa;
			@include mixin.font('/22px' left);

			.m__qustion-image {
				font-size: 0;

				li {
					display: inline-block;
					margin: 17px 0 3px;
					width: 280px;

					&:nth-child(n+2) {
						margin-left: 6px;
					}
				}
			}

			> * {
				position: relative;
				padding: 25px 75px 29px 190px;

				&::before {
					position: absolute;
					top: 28px;
					left: 162px;
					@include mixin.font(#a3a3a3 500 '/1' [var.$fontFamily_latin], 0);
				}

				.text_date {
					display: inline-block;
					margin: 14px 0 0 -1px;
					@include mixin.font(#7b7b7b '/16px');
				}

				.mm_btnbox {
					margin: 11px 0 1px;
					text-align: left;

					.mm_btn:nth-child(n+2) {
						margin-left: 3px;
					}
				}
			}
		}
	}

	&-qustion {
		.__ie11 & { border-top: 1px solid #e6e6e6; }

		&::before {
			font-size: 18px;
			content: 'Q';
		}
	}

	&-answer {
		border-top: 1px solid #eee;

		&::before {
			font-size: 17px;
			content: 'A';
		}
	}

	&.__dropdown-on {
		.mm_dropdown-item {
			display: table-row;
		}
	}
}
//> Q&A 드롭다운

//< 상품 선택 ((모달) 리뷰작성, 상품문의, 판매자문의, 체험단 후기 작성에 사용됩니다)
.mm_product-select {
	// 상품 선택형
	.mm_dropdown {
		&.__dropdown-on {
			.btn_dropdown {
				border-radius: 3px 3px 0 0;
			}

			+ .m__product-selected {
				display: none;
			}
		}

		.btn_dropdown {
			padding: 0 12px;
			height: 46px;
			border: 1px solid #cdcdcd;
			border-radius: 3px;
			@include mixin.font('14px/42px' left);

			.mco_dropdown-bold {
				right: 13px;
				margin-top: 1px;
				@include mixin.font(#7b7b7b '17px');
			}
		}

		&-item {
			position: absolute;
			z-index: 1;
			top: 46px;
			right: 0;
			left: 0;
			background-color: #fff;

			.mm_scroller {
				max-height: 270px;
				border: 1px solid #cdcdcd;
				border-top: 0;

				ul {
					li:nth-child(n+2) {
						border-top: 1px solid #eee;
					}
				}
			}

			.mm_product-item {
				> a {
					padding: 14px 13px 16px;
					cursor: pointer;
				}
			}
		}
	}

	.mm_product-select-complete {
		display: none;
		position: relative;
		padding: 15px 38px 14px 13px;
		border: 1px solid #cdcdcd;
		border-top: 0;

		.btn_remove {
			position: absolute;
			top: 0;
			right: 0;
			width: 36px;
			height: 37px;
			@include mixin.font(#b8b8b9 '12px/40px' center);
		}
	}

	&.__selected-complete {
		.btn_dropdown {
			border-radius: 3px 3px 0 0;

			b {
				color: #999;
			}
		}

		.mm_product-select-complete {
			display: block;
		}
	}

	// 상품 자동노출형
	> .mm_product-item {
		border: 1px solid #cdcdcd;
		border-radius: 3px;

		> a {
			padding: 18px 13px;
		}
	}
}
//> 상품 선택

//< 비디오레이어
.mm_videolayer {
	position: fixed;
	z-index: const.$zIndex_most;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&-dim {
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.85);
	}

	&-item {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		max-width: 90%;
		max-height: 90%;
		@include mixin.transform(translate(-50%, -50%));

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
//> 비디오레이어

//< 데이트픽커
.mm__datepicker {
	display: inline-block;
	@include mixin.prefix(box-shadow, 0 0 5px 0 rgba(#000, 0.18), webkit);
	position: absolute;
	z-index: const.$zIndex_most;
	margin-top: 21px;
	background-color: #fff;
	border: 1px solid #707070;
	@include mixin.clearfix();

	// &.__datepicker-inline {
	// 	position: relative;
	// 	z-index: 0;
	// 	top: auto;
	// 	left: auto;
	// }

	// &.__datepicker-month {
	// 	.mm__datepicker-item {
	// 		padding-bottom: 0;

	// 		table {
	// 			th {
	// 				color: var.$color_point2;
	// 			}
	// 		}
	// 	}
	// }

	// 달력판
	&-item {
		// float: left;
		padding: 18px 22px 23px 20px;

		// + .mm__datepicker-item {
		// 	&::before {
		// 		position: absolute;
		// 		z-index: 1;
		// 		top: 0;
		// 		bottom: 0;
		// 		border-left: 1px solid #000;
		// 		content: '';
		// 	}
		// }

		// 캘린더 상단(년월 선택)
		.mm__datepicker-item-head {
			@include mixin.font('0/1' center);
		}

		.mm__datepicker__head-label {
			display: inline-block;
			overflow: hidden;
			position: relative;
			padding: 0 5px;
			@include mixin.font('20px/37px' [var.$fontFamily_latin] left);

			&:first-child {
				margin-left: 3px;
			}

			.mco_datepicker-select {
				@include mixin.font(#3d3d3d '17px');

				[class*="__ie"] & {
					margin-top: 5px;
					line-height: 30px;
				}
			}

			> select {
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				@include mixin.opacity(0);
				cursor: pointer;
			}
		}

		table {
			width: auto;

			th {
				padding: 12px 0 3px;
				@include mixin.font(700 '15px/30px');
			}

			td {
				&.__datepicker-outside-month {
					.btn_date {
						color: #cdcdcd;
					}


					&.__datepicker-selected {
						b {
							background-color: var.$color_point1;
						}
					}
				}

				&.__datepicker-period {
					b {
						background-color: #cdcdcd;
						color: #fff;
					}
				}

				&.__datepicker-selected {
					b {
						background-color: var.$color_point1;
						color: #fff;
					}
				}

				> button {
					position: relative;
					@include mixin.font(#5c5c5c 500 '15px/30px' [var.$fontFamily_latin]);

					&:disabled {
						color: #cdcdcd;
						pointer-events: none;
					}

					&:hover {
						b::after {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid #101010;
							border-radius: 100%;
							content: '';
						}
					}

					&.btn_date {
						padding: 4px;
					}

					// &.btn_month {
					// 	padding: 3px 12px 3px 11px;
					// }

					b {
						width: 30px;
						height: 30px;
						border-radius: 100%;
					}
				}
			}
		}
	}
}
//> 데이트픽커