@charset 'utf-8';

@use 'sass:math';
@use '../../setting/const';
@use '../../setting/var';
@use '../../helper/mixin';

/**
 * 레이아웃
 * 툴바
**/


//< 툴바 영역
.mm_toolbar {
	> ul {
		position: relative;
		z-index: 1;
		background-color: #fff;

		> li {
			// 검색
			.mco_search-lg {
				margin: 0;
				width: auto;
				height: 32px;
				background: transparent;
				@include mixin.font(var.$color_text_base '17px/35px');
			}

			// 홈(퀵메뉴)
			.btn_quickmenu {
				position: relative;

				&::before {
					content: '';
					@include mixin.opacity(0);
					@include mixin.transition(opacity const.$time_base);
				}

				.mco_home {
					height: 38px;
					@include mixin.opacity(1, auto);
					@include mixin.transition(opacity const.$time_base, transform const.$time_base);

					&::before {
						padding-left: 1px;
						width: 38px;
						height: 100%;
						border-radius: 100%;
						background-color: var.$color_point1;
						color: #fff;
					}
				}

				.mco_close {
					position: absolute;
					left: 50%;
					margin-left: -19px;
					height: 38px;
					@include mixin.opacity(0, none);
					@include mixin.transition(opacity const.$time_fast, transform const.$time_base);

					&::before {
						width: 38px;
						height: 100%;
						border-radius: 100%;
						background-color: #fff;
						@include mixin.font('15px/38px');
						@include mixin.transition(transform const.$time_base);
					}
				}
			}
		}
	}

	&-quickmenu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: var.$toolbar_height_base;
		left: 0;
		@include mixin.opacity(0, none);
		@include mixin.transition(opacity const.$time_fast);

		&-dim {
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.6);
		}

		&-item {
			overflow: hidden;
			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;
			padding: 24px 14px;
			background-color: var.$color_point1;
			text-align: center;
			@include mixin.transform(translateY(100%));
			@include mixin.transition(transform const.$time_base);

			> ul {
				li {
					&:not(:first-child) {
						margin-top: 4px;
					}

					a {
						display: block;
						position: relative;
						height: 54px;
						border-radius: 2px;
						background-color: #fff;

						.image_logo {
							position: absolute;
							top: 50%;
							left: 20px;
							@include mixin.transform(translateY(-50%));

							$logos: (main, 101px, 25px), (national, 142px, 24px), (nfl, 20px, 28px), (barrel, 87px, 19px), (markgonzales, 104px, 24px), (couloir, 120px, 22px), (brompton, 74px, 28px);
							@each $logo, $width, $height in $logos {
								&[class*="_#{$logo}_"] {
									width: $width;
									height: $height;

									@if $logo == main {
										@include mixin.background(url('https://img.nstationmall.com/mall/ui/mobile/common/logo.svg') '0 0/contain' no-repeat);
									}
									@else if $logo == brompton {
										@include mixin.background(url('https://img.nstationmall.com/mall/ui/mobile/common/logo_brompton.png') '0 0/contain' no-repeat);
									}
									@else {
										@include mixin.background(url('https://img.nstationmall.com/mall/ui/mobile/common/logo_#{$logo}.svg') '0 0/contain' no-repeat);
									}
								}
							}

							&.__logo_barrel_color__ {
								margin-top: 1px;
							}
						}

						b:not(.mm_ir-blind) {
							position: absolute;
							top: 50%;
							right: 22px;
							@include mixin.font(#999 '12px/17px');
							@include mixin.transform(translateY(-50%));

							.mco_link {
								margin-left: 2px;
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}

	// 퀵메뉴 열림
	&.__switch-on {
		> ul {
			li {
				.btn_quickmenu {
					&::before {
						position: absolute;
						top: 0;
						left: 50%;
						width: 99px;
						height: 50px;
						@include mixin.background(url('https://img.nstationmall.com/mall/ui/mobile/common/toolbar_quickmenu_btn_bg.svg') '0 0/cover' no-repeat);
						content: '';
						@include mixin.opacity(1);
						@include mixin.transform(translateX(-50%));
					}

					.mco_home {
						@include mixin.opacity(0, none);
						@include mixin.transform(translateY(-10px));
					}

					.mco_close {
						@include mixin.opacity(1, auto);
						@include mixin.transform(translateY(-10px));

						&::before {
							@include mixin.transform(rotate(90deg));
						}
					}
				}
			}
		}

		.mm_toolbar-quickmenu {
			@include mixin.opacity(1, auto);

			&-item {
				@include mixin.transform(translateY(0));
			}
		}
	}
}
//> 툴바 영역