@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';

/**
 * 레이아웃
 * 헤더
**/


//< 헤더영역
.mm_header {
	position: absolute;
	z-index: const.$zIndex_header;
	top: 0;
	right: 0;
	left: 0;
	height: var.$header_height_base;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	@include mixin.transition(transform const.$time_fast);
	@include mixin.clearfix();

	// 스크롤 숨김
	.__header-hide & {
		border-bottom: 0;
		@include mixin.transform(translateY(-100%));
	}

	h1 {
		margin-top: 10px;
		max-width: 100%;

		b:not(.mm_ir-blind) {
			display: block;
			padding: 0 87px;
			font-size: 16px;
			@include mixin.text-ellipsis(1);
		}

		// 카테고리 페이지에서만 사용합니다
		.btn_category {
			padding: 0 87px;

			b {
				display: inline-block;
				padding: 0;
			}

			.mco_category-thin {
				margin: 4px 0 0 7px;
				font-size: 15px;
			}
		}
	}

	.mm_lside {
		position: absolute;
		top: 0;
		left: 0;
		padding-left: 4px;
		height: var.$header_height_base;
		line-height: var.$header_height_base;

		> * {
			float: left;
			position: relative;
			padding: 0 10px;
			height: 100%;
		}

		.btn_back {
			@include mixin.font(#4a4a4a '21px/46px');
		}

		.btn_home {
			margin-left: 1px;
			@include mixin.font(#4a4a4a '19px');
		}
	}

	.mm_rside {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 6px;
		height: var.$header_height_base;
		line-height: var.$header_height_base;

		> * {
			float: left;
			position: relative;
			padding: 0 10px;
			height: 100%;
		}

		.mco_search {
			@include mixin.font(#4a4a4a '21px');
		}

		.mco_cart {
			@include mixin.font(#4a4a4a '25px/47px');

			+ .text_badge {
				position: absolute;
				top: 19px;
				right: 0;
				left: 0;
				@include mixin.font(#f86363 700 '12px/16px' [var.$fontFamily_latin] center);
			}
		}
	}

	// 대카테고리 펼침
	&.__category-on {
		.btn_category {
			.mco_category-thin {
				@include mixin.transform(scale(-1));
			}
		}

		.mm_header-category {
			display: block;
			z-index: 1;
			height: 100%;

			.mm_scroller {
				height: auto;
			}
		}
	}

	// 대카테고리
	&-category {
		display: none;
		position: fixed;
		z-index: -1;
		top: var.$header_height_base;
		right: 0;
		bottom: 0;
		left: 0;
		height: 0;

		&-dim {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(#000, 0.34);
		}

		.mm_scroller {
			position: absolute;
			top: -1px;
			right: 0;
			left: 0;
			max-height: 340px;
			background-color: #fff;
		}

		ul {
			display: grid;
			grid-template-columns: repeat(3, 33.333333%);
			padding: 11px 5px 15px;
		}

		a {
			display: block;
			overflow: hidden;
			height: 44px;
			@include mixin.font('14px/43px');

			&.__category-on {
				font-weight: 700;
			}
		}
	}

	// 메인
	html[class*="_main_"] & {
		height: var.$header_height_main;
		border-bottom: 0;
		text-align: left;

		h1 {
			margin-top: 13px;

			a {
				padding: 9px 14px 11px;

				.image_logo {
					width: 125px;
					height: 31px;
					@include mixin.background(url('https://img.nstationmall.com/mall/ui/mobile/common/logo.svg') '50% 50%/contain' no-repeat);
				}
			}
		}

		.mm_rside {
			top: 19px;
			height: 35px;
			line-height: 38px;

		.mco_search {
				@include mixin.font(#4a4a4a '20px' center);
			}

			.mco_cart {
				line-height: 38px;

				+ .text_badge {
					top: 14px;
				}
			}
		}

		// .m_main-search {
		// 	position: relative;
		// 	margin: 7px 14px 0;
		// 	height: 41px;
		// 	background-color: #eee;
		// 	@include mixin.font(#7b7b7b '/41px' left);

		// 	.btn_keyword {
		// 		@include mixin.text-ellipsis(1);
		// 		position: absolute;
		// 		padding: 0 13px;
		// 		width: 100%;
		// 		@include mixin.font('15px/41px' left);

		// 		+ a {
		// 			margin-right: 46px;

		// 			i {
		// 				margin-right: -46px;
		// 				pointer-events: none;
		// 			}
		// 		}
		// 	}

		// 	> a:not(.btn_keyword) {
		// 		display: block;
		// 		position: relative;
		// 		z-index: 1;
		// 		@include mixin.font('21px' right);

		// 		i {
		// 			width: 46px;
		// 			text-align: center;
		// 		}
		// 	}
		// }
	}

	// 검색결과
	> .btn_search {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 35px;
		@include mixin.font(#b8b8b9 '21px/44px');

		b {
			display: block;
			@include mixin.text-ellipsis(1);
			padding: 0 82px 0 2px;
			height: 100%;
			@include mixin.font(var.$color_text_base '16px/42px' left);
		}

		.mco_search {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 5px;
			width: 49px;
			color: #4c4c4c !important;
		}

		.mco_form-clear {
			position: absolute;
			top: 0;
			right: 53px;
			bottom: 0;
			margin-top: 1px;
			width: 24px;
			font-size: 17px;
		}
	}
}
//> 헤더영역